
body{
  overflow-x: hidden;
  padding: 0%;
  background-color: #212529;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h1,h2{
  font-family: 'Anton', sans-serif;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.homeText {
  animation: 1s ease-out 0s 1 slideInLeft;
}

.reveal{
  position: relative;
  transform: translateX(-300px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateX(0);
  opacity: 1;
}
.morph-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1000;
}

.content-landing-wrap{
  position: relative;
  z-index: 1100;
  overflow-y: auto;
}
.card{
  transition: transform .2s;
}
.card:hover{
  transform: scale(1.05);
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 414px) {  
  h1 {font-size:4rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:4rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:6rem;} /*1rem = 16px*/    
}